*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #405D72, #758694);
  color: white;
  padding: 20px;
}


#home-img, #phone-img, .img{
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}


.header{
  margin: 20px;
  width: 100%;
  padding: 20px;
 
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inputText{
  height: 40px;
  background-color: #758694;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
.searchOption ::placeholder{
  padding: 20px;
  color: white;
}
#search{
 padding: 0 20px 0 20px;
  color: white;
  height: 40px;
  background-color: #758694;
  border: none;
  border-radius: 20px;
}

.top{
  background-color: #758694;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.top span{
  margin: 0 10px 0 10px;
}

main .content-center{
  display: flex;
  justify-content: space-evenly;
}

.main{
  /* background-image: url('photos/download.jpeg'); */
  background-color: #405D72;
  width: 40%;
  padding: 40px;
  border-radius: 20px;
 
}
.text{
  font-weight: 700;
}
.time{
  color:cornsilk;
  margin-top: 5px;
}

.currentWeather{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.temp{
  font-size: 30px;
}

.weather-section{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 20px;
  
}

.forecast-section{
  margin-top: 40px;
}

.sun-moon{
  width: 30%;
background-color:#405D72;
border-radius: 20px;
padding: 40px;
}

.inside-sunMoon{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.forecast{
  padding: 20px 20px 20px 40px;
  background-color: #405D72;
  width: 250px;
  /* margin: 40px 0 40px; */
  border-radius: 20px;
}

.inside-forecast{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.sun{
  height: 50px;
  width: 50px;
}


#allForecast{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#forecastDataContainer .text{
  margin-top: 40px;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 600px) {
  .mobile{
    display: none;
  }

  .nav{
    display: flex;
    flex-direction: column;
  }

  .searchOption{
    margin-top: 20px;
  }
  main .content-center{
    display: flex;
    flex-direction: column;
  }
  .main, .sun-moon{
    width: 100%;
    margin-top: 20px;
  }

 
} 

@media (min-width:600px) and (max-width: 1012px) {
  .mobile{
    display: none;
  }



  main .content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main, .sun-moon{
    width: 70%;
    margin-top: 20px;
  }

}